---
layout: default
---

<div class="home-intro">
    <div class="image">
        <img src="{{ '/assets/me.jpg' | relative_url }}">
    </div>

    <div class="text">
        <div>
            <h1>Hello, I'm Robby,</h1>
            <p>I'm a web developer based in Los Angeles. I have experience on a multitude of platforms and I love turning quality designs into high-performance websites.</p>
        </div>
    </div>
</div>

<div class="home-projects">
    <h2>Selected Projects</h2>
    <ul>
        <li>
            <a href="https://buzzfeed.com/reviews"> 
                <img class="bf-reviews-img" src="{{ '/assets/bf-reviews.png' | relative_url }}">
            </a>
        </li>
        <li>
            <a href="https://tastyshop.com/"> 
                {% include svg/tasty.svg %}
            </a>
        </li>
        <li>
            <a href="https://camp.com"> 
                {% include svg/camp.svg %}
            </a>
        </li>
        <li>
            <a href="https://clearbit.com"> 
                {% include svg/clearbit.svg %}
            </a>
        </li>
        <li>
            <a href="https://zerodown.com"> 
                {% include svg/zerodown.svg %}
            </a>
        </li>
        <li>
            <a href="https://withpersona.com"> 
                {% include svg/persona.svg %}
            </a>
        </li>
        <li>
            <a href="https://jumpcut.com"> 
                {% include svg/jumpcut.svg %}
            </a>
        </li>
        <li>
            <a href="https://buypeel.com"> 
                {% include svg/peel.svg %}
            </a>
        </li>
        <li>
            <a href="https://lunarly.com"> 
                {% include svg/lunarly.svg %}
            </a>
        </li>
        <li>
            <a href="https://fiteluxury.com"> 
                {% include svg/fite.svg %}
            </a>
        </li>
        <li>
            <a href=https://hiholden.com> 
                {% include svg/holden.svg %}
            </a>
        </li>
        <li>
            <a href="https://socialsabotage.com">
                {% include svg/social-sabotage.svg %}
            </a>
        </li>
    </ul>
</div>